// blog

.blog {
  h4 {
    margin-bottom: 27px;
    margin-top: -70px;
  }
  .caption {
    h4 {
      font-family: "Source Sans Pro";
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px; 
      color: rgb(115, 135, 115);

      @include fontSet(18px, bold);
    }

    p {
      font-family: "Source Sans Pro";
      font-size: 15px;
    }
  }
}

.thumbnail { 
  width: 270px;
  transition: all .2s ease-in-out; 
}

.thumbnail:hover { 
  transform: scale(1.025); 
}
