// calendar
.calendar-li{
  @include size(150px, 220px);

  position:absolute;
  margin-top: 75px;
  left: 80px;  
  border: 2px solid rgba(0, 0, 0, 0.14);
  background-color: rgba(255, 192, 0, 0.57);;
  border-radius:5%;
  box-shadow:5px 5px 5px #888;
  text-align:center;
  color: $cl-primary-text;
  display:inline-block;
  margin-left:50px;
}

.day{
  font-size:24px;
  font-family:Arial, Helvetica, sans-serif;
  padding-top:10px;
}

.date{
  font-size:74px;
  font-family:Arial, Helvetica, sans-serif;
  padding-top:20px;
}

.month-year{
  font-size:18px;
  font-family:Arial, Helvetica, sans-serif;
  padding-top:10px;
}

// medium calendar
.calendar {
  padding-top: 10px;
}

.month {
  padding-top: 5px;
  height: 80px;
  background: #1abc9c;
  color: $cl-primary-text;
  text-align: center;
  text-transform: uppercase;
}

.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.weekdays {
  @include padding(10px, 0);
  
  background: #ddd;
}

.weekdays {
    li {
      display: inline-block;
      width: 13%;
      color: #666;
      text-align: center;
    }
}

.days {
  padding: 10px 0;
  background: #eee;
}

.days {
  li {
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
  } 
}

.days {
  li {
    .active{
      padding: 5px;
      background: #1abc9c;
      color: $cl-primary-text !important;
      cursor: default;
    }
  }
}

