
// right sidebar - tags
.tag-items {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  background-color: #CBCBCB;
  margin: 4px 7px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  @include fontSet(12px, 300);

  a  {
    color: $cl-primary-text;
    text-transform: uppercase;
    padding: 5px 0px 5px 10px;
    display: inline-block;
  }

  span {
    background-color: #ACB9E0;
    padding: 4px 8px;
    color: $cl-primary-text;
    bottom: 5px;
    right: -9px;
    position: relative;

    @include fontSet(10px, 500);
  }
}