.first-section {
  margin-bottom: 50px;
}

.row-good-news {
  margin-left: -2px;
  margin-right: -2px;
}

.small-items {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px;
}

.items {
  background: #000;
  max-width: 400px;

  a:hover {
    color: #fff;
  }
}

.item-images {
  color: #1A1A1A;
  img {
    opacity: 0.90;
    width: 368px;
  }
}

// text 
.text {
  position: absolute;
  bottom: 15px;
  margin: 0 30px 0px 0;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

// title
.items-titles {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.link-post {
  color: #fff;
}

.social-info {
  font-size: 10px;
  padding-top: 7px;
}

.info {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  font-size: 15px;
}

.good-news-below {
  @extend .row-good-news;
}

.large-item {
  @extend .small-items;
}

.item {
  img {
    width: 100%;
  }

  .items-titles {
    font-size: 40px;
    line-height: 55px;

    a:hover {
      color: #fff;
    }
  }
}
// section 2

.title-section{
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  color: #474747;
  text-transform: uppercase;
  @include fontSet(36px, 600);
  margin-bottom: 4px;
  border-bottom: 4px solid #474747;
  // border-bottom: 1px solid #D7D7D7;
  padding-bottom: 10px;

  span {
    display: block;
    font-size: 35px;
    color:#474747;
  } 
}

.news-large {
  overflow: hidden;
}

.news-images {
  background: #000;
  position: relative;

  a {
    text-decoration: none;
    img {
      max-width: 100%;
      height: auto;
    }

    img:hover {
      opacity: 0.3;
    }
  }
}

.review {
  background-color: #6CABD8;
  padding: 15px;
  text-align: center;
  font-family: "Oswald", sans serif;
  color: #FFF;

  @include position(0, 0);
  @include size(55px, 55px);
}
.score {
  @include fontSet(19px, 900);
}

.news-title {
  margin: 0px 30px 0px 0px;
  z-index: 1000;

  @include position(auto , auto, 10px);
}

.text-hover {
  transition: opacity 0.35s;
  opacity: 0;
}

.text-sumary {
  color: $cl-primary-text;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.50);

  @include padding(15px, 20px, 15px, 40px);
}

.read-more-btn {
  text-align: center;

   a {
    text-transform: uppercase;
    color: $cl-primary-text;
    background: #000;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    @include padding(10px, 30px);
    @include fontSet(11px, 800);
  }
}
.title-hover {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0px,0);
  transform: translate3d(0,0px,0);
}
.topic-btn {
    margin-left: 20px;
    z-index: 1000;
    color: $cl-primary-text;
    text-transform: uppercase;

    @include fontSet(10px, 700);
}

.topic {
  background-color: #F0CE49;
  padding: 7px 10px;
}

.news-title-items {
  margin-top: 0px;
  padding: 15px 20px 15px 20px;
  background-color: rgba(0, 0, 0, 0.50);
  font-size: 19px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #4A4A4A;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;

  a {
    background-color: transparent;
    color: #fff;
  }
}

 // section 
.section-news {
  transform: none;
  padding-top: 55px;
}

.col-md-8 {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  min-height: 1px;
}

.left-sidebar {
  @include padding(1px, 0, 1px);

  position: static;
}

.lasted-news {
  margin-bottom: 55px;
}

.news-medium {
  border-bottom: 1px dotted #dfdfdf;
  padding-bottom: 25px;
  margin-bottom: 35px;

  .news-title-items {
    background-color: $cl-primary-text;
    margin-top: 0px;

    @include padding(20px, 20px, 10px, 0px);

    a {
      color: #1A1A1A;
    }
  }
}

.news-medium {
  .news-title {
    position: absolute;
    bottom: -60px;
    z-index: 1000;

    @include margin(0px, 30px, 0px, 0px);

    .social-info {
      .info {
        background-color: #ECECEC;
        color: #868686;
        padding: 5px 12px;
        margin: 0px 2px 10px 0px;
        display: inline-block;
      }
    }
  }
}

.news-body {
  p {
    color: #6C6C6C;
    padding-top: 60px;
  }
}

.small-news {
  margin: 0 0 20px 0;
  border-bottom: dotted 1px;
  border-color: #CFCFCF;
  padding-bottom: 20px;
  display: table;
  position: relative;
  width: 100%;
}

.image-article {
  float: left;
  width: 120px;
  vertical-align: middle;
  position: relative;
  margin-right: 30px;

  a {
    color: #1A1A1A;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.article-body {

  display: table-cell;
  vertical-align: top;

  @include position(auto, auto, 15px, 105px);

  .social-info {
    .info {
      margin-left: 30px;
      color: #AEAEAE;

      @include fontSet(12px, 600);
    }
  }
  .news-title-items {
    margin: 0px;
    padding: 6px 15px;
    background-color: $cl-primary-text;
    line-height: 19px;

    @include fontSet(12px, 900);

    a {
      background-color: transparent;
      color: #1A1A1A;
    }
  }
}

