// Footer
.footer {
  margin-top: 35px;
  background-color: $cl-primary;
  font-size: 11px;
  font-weight: 700;
  color: #999999;

  .footer-widget {
    margin-bottom: 50px;

    .footer-title {
      font-family: "Oswald", sans-serif;
      letter-spacing: 1px;
      word-spacing: 1px;
      color: #EDEDED;
      text-transform: uppercase;
      font-size: 20px;
      margin-right: 30px;
      margin-bottom: 30px;
      text-align: center;
      
      .title-span {
        padding-bottom: 2px;
        border-bottom: 2px solid #801C1C;
      }
    }
    
    .footer-below {

      .phone-span {
        font-size: 15px;

        a { 
          color: #fff;
          font-size: 16px;
          padding-right: 10px;
          padding-left: 80px;
          } 
      } 
    }

    p {
      font-size: 14px;
      line-height: 23px;
      font-weight: 500;
      letter-spacing: 0px;
    }

    .footer-categories {
      display: inline-block;
      margin: 0 40px 10px 0;
      min-width: 130px;
      list-style: none;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0px;
      vertical-align: top;
      padding: 4px 0;

      a {
        color: #999999;
      }
    }
  }
}