// login
.form-login {
  width: 300px;
  z-index: 1000;
  border: 1px solid black;
  background: rgba(16, 16, 16, 0.9);
  display: none;

  @include position (77px, 20px);
}

.login-form {
  width: 100%;
  max-width: 450px;
  padding: 0 1em;
}

.input-label {
  flex: 0 1 100px;
  padding: 15px 10px;
  color: #ccc;
  text-transform: uppercase;
}

.input-group {
  &:focus {
    outline-color: #666;
  }
}

.input-group[type=text],
.input-group[type=password] {
  position: relative;
  width: 100%;
  padding: 15px 10px;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 2px;
  background: transparent;
  border: none;
}

.btn-submit[type=submit] {
  flex: 0 1 100%;
  margin-top: 25px;
  padding: 15px 10px;
  color: #666;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(to bottom right, #eee 0%, #ccc 100%);
  border: none;
}

.form-input {
  align-items: center;
  display: flex;
  position: relative;
  padding: 1em 0;
  
  &:not(:last-child) {
    &:after {
      content: "";
      bottom: 0;
      height: 1px;
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 1;
      background: $cl-yellow;
    }
  }
}

.input-wrap {
  flex: 0 1 calc(100% - 100px);
}
