// Navbar left
.navbar-inverse {
  padding-top: 10px;
  border: 0px;
  border-bottom: 4px solid $cl-yellow;
}

// Menu right (login and register link)
.menu-right {
  float: right;
  font-size: 17px;
  position: relative;
  color: #fff;
  line-height: 65px;
  
  .menu-content {
    text-decoration: none;
    padding-right: 35px;
    a {
    color: #fff;
    padding: 5px;
    }
  }
}

// arrow up for login
.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  right: 110px;
  bottom: 0;
  display: none;
}

// arrow up for register
.arrow-up-register {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  right: 45px;
  bottom: 0;
  display: none;
}