
//
.btn {
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
.full-width {
  width: 100%;
}
  
.panel {
  background-color: #eee;
  border-radius: 3px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .panel-head {
    background-color: #ddd;
    padding: 15px 10px;

    .panel-titel{
      margin: 0;
    }

    .panel-desc{
      top: 5px;
      font-size: 13px;
    }
  } 

  .panel-body {
    padding: 10px;

    input, textarea, select {
      width: 100%;
      padding: 3px 6px;
      border: 1px solid #e4eaec;
    }

    .data-table {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px;

      input, textarea, select {
        margin-bottom: 20px;
        margin-top: 10px;
      }
    } 
  }
}
  
//
.left-nav {
  width: 100%;
  height: 350px;
  padding: 10px;
  display: inline-block;
  background-color: #eee;
  padding-left: 60px;

  .logo {
    background-color: #ddd;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transform: translateX(-50%);
  } 

  .menu {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;

    .item-menu {
      margin-bottom: 10px;
    }
  }
}
  
  
.main {
  width: 100%;
  padding: 15px;
  display: inline-block;
  background-color: $cl_white;
  
  .top-nav {
    padding: 0px 15px 10px 0px;
    border-bottom: 1px solid #ddd; 

    .bread {
      margin: 0px;
      padding: 0px;
      display: inline-block;
    } 

    .item-bread {
      display: inline-block;
      
      &::before{
        content: "/";
      }
    }

    .user {
      display: inline-block;
      position: absolute;
      right: 50px;
    }

    .name {
      display: inline-block;
    }

    .logout {
      margin-left: 20px;
      display: inline-block;
    }
  }
}

.container {
  width: 100%;

  .header {

    .title {
      display: inline-block;
      padding-left: 15px;
    }

    .add {
      top: 40px;
      margin-left: 15px ; 
    }

    .search {
      @include margin(25px, 0, 30px, 0);

      .data-range {
        display: inline-block;
        padding-left: 15px;
      }

      .data-filter {
        display: inline-block;
        float: right;
      }
    }
  }
      
    .content {
      .data-table {
        display: table;
        width: 100%;
      }
        .data-header {
          display: table-header-group;
        }
        .data-row {
          display: table-row;
        }
        .data-cell {
           border-bottom: solid 1px #999;
          display: table-cell;
          padding: 5px 10px;
        }
         
      .post-left {
        width: 60%;
        margin-right: -4px;
        display: inline-block;
      }
        
      .post-right {
        width: 38%;    
        // margin-left: 2%;
        // margin-right: -4px;
        display: inline-block;
      }
        
      .post-bottom {
        width: 100%;
      }
    }
      
  }