.right {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  min-height: 1px;
  background-color: #F2F2F2;
}

.review-score {
  background-color: #DFDFDF;
  padding: 8px;
  text-align: center;
  font-family: "Oswald", sans serif;
  color: #737373;
  float: right;
  vertical-align: middle;
  margin-left: 15px;

  @include size(55px, 46px);
}

.post-widget {
  display: table;
  margin: 24px 0 20px 0;
  border-bottom: 1px dotted;
  border-color: #BDBDBD;
  padding-bottom: 20px;
  width: 100%;

  h2 {
    margin: 0;
    line-height: 19px;
    text-transform: uppercase;

    @include fontSet(13px, 900);

    a {
      color: $cl_black;
      transition: all 0.2s ease-out;  
    }
  }
}

.social-btn {
    margin-top: 5px;
    float: left;
    margin-bottom: 20px;
    width: 47%;
    margin-right: 3%;

  a {
    display: inline-block;
    padding-left: 11px;
    float: left;
    font-size: 45px;
    color: #A2A2A2;
    text-align: center;
    line-height: 50px;
  }
}

// social detail info
.social-detail {
  margin-left: 15px;
  float: left;
}

.count {
  color: #717171;
  padding: 4px 0;

  @include fontSet(16px, 800);
}

.type {
  color: #A6A5A5;
  
  @include fontSet(13px, 300);
}

// Advertisement
.ads-img {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 25px;

}

// right lasted news
.widget-container {
  .news-images {
    max-width: 100px;
  }
  .news-body {
    h2 {
      font-size: 10px;

      a {
        color: $cl_black;
        transition: all 0.2s ease-out;
      }
    }

    .social-info {
      .info {
        color: #949494;;
        font-size: 12px;
      }
    }
  }
}