.row-first {
  padding-right: 45px;
}

.small-img {

  a {
    color: #1A1A1A;

    img {
      opacity: 0.80;
      max-width: 367px;
      max-height: 251px;
      padding-left: 10px;
      transition: opacity 0.2s ease-out;
    }

    img:hover {
      opacity: 0.3;
    }
  }
}

.img-info {
  margin-left: 10px;
  margin-bottom: -5px;
  background: rgba(0, 0, 0, 0.78);
  opacity: 0.8;
  padding: 10px 15px;
  z-index: 5;

  @include position(auto, auto, 5px);

  .topic-btn {
    margin-left: 20px; 
    padding-bottom: 7px;
    z-index: 1000;
    color: $cl-primary-text;
    text-transform: uppercase;

    @include fontSet(10px, 700);
  }

  h2 {
    line-height: 19px;
    margin: 0px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $cl-primary-text;
    
    @include fontSet(15px, 800);
  }
}

.img-info:hover {
  opacity: $cl-black;
}

.md-img-items {
  .small-img {
    a {
      color: #1A1A1A;

      img {
        opacity: 0.80;
        max-width: 550px;
        max-height: 251px;
        padding-left: 10px;
        padding-top: 7px;
        transition: opacity 0.2s ease-out;
      }
      
      img:hover {
        opacity: 0.3;
      }
    }
  }
}