* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #F2F2F2;
}

// Box
.box {
  max-width: 1200px;
  margin: 0px auto;
  background: #fff;
  min-height: 100%;
  padding: 0 30px;
}
