
// social icons
.top-bar {
  .navbar-right {
    margin-right: 15px;
    a {
      color: #565656;
      font-size: 13px;
      padding-right: 15px;
    }
  }
}

// Header
.header {
  width: 100%;
  height: 80px;
  h1 {
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    .school-logo {
      color: $cl-yellow;
    }
  }
}