// post
.post-form {
  padding-bottom: 50px;
}
.col-md-12 {
  padding: 0 20% 0 20%;
}

.margin-top-25 {
  margin-top: 25px;
}

.form-group .form-control {
  -webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius: 0;
  border-color: #000;

  &:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
  }
}



.btn-mod {
  &.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
  }

  &.btn-border {
    color: #000000;
    border: 1px solid #000000;
    background: transparent;
  }

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(34, 34, 34, 0.9);
  border: 1px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}


.btn-mod.btn-border {
  &:hover, &:active, &:focus, &:active:focus {
    color: #fff;
    border-color: #000;
    background: #000;
    outline: none;
  }
}

@media only screen and (max-width: 500px) {
  .btn-mod.btn-large {
    padding: 6px 16px;
    font-size: 11px;
  }
  
  .form-title {
    font-size: 20px;
  }
}