section.section
  .container
    .good-news
      .row.row-good-news
        // image 1
        .col-md-4.small-items
          figure.items
            a.item-images(href='#')
              img(src='images/1.jpg', alt='')
            figcaption.text
              h2.items-titles
                a.link-post(href='#') Selfie Fables - Disney Alternative Art Illustrations by Simona Bonafini
              .social-info
                span.info 1. September
                span.info
                  i.fa.fa-comment-o(aria-hidden='true')  5
                span.info
                  i.fa.fa-eye(aria-hidden='true')
        // image 2
        .col-md-4.small-items
          figure.items
            a.item-images(href='#')
              img(src='images/2.jpg', alt='')
            figcaption.text
              h2.items-titles
                a.link-post(href='#') Selfie Fables - Disney Alternative Art Illustrations by Simona Bonafini
              .social-info
                span.info 1. September
                span.info
                  i.fa.fa-comment-o(aria-hidden='true')  5
                span.info
                  i.fa.fa-eye(aria-hidden='true')
        // image 3
        .col-md-4.small-items
          figure.items
            a.item-images(href='#')
              img(src='images/3.jpeg', alt='')
            figcaption.text
              h2.items-titles
                a.link-post(href='#') Selfie Fables - Disney Alternative Art Illustrations by Simona Bonafini
              .social-info
                span.info 1. September
                span.info
                  i.fa.fa-comment-o(aria-hidden='true')  5
                span.info
                  i.fa.fa-eye(aria-hidden='true')
        // the end image 3
      // the end first row
      .good-news-below
        .col-md-12.large-item
          figure.item
            a.item-images(href='#')
              img(src='images/big.jpg', alt='')
            figcaption.text
              h2.items-titles
                a.link-post(href='#') Selfie Fables - Disney Alternative Art Illustrations by Simona Bonafini
              .social-info
                span.info 1. September
                span.info
                  i.fa.fa-comment-o(aria-hidden='true')  5
                span.info
                  i.fa.fa-eye(aria-hidden='true')
// section 2
section.section
  .container
    h4.title-section
      span Featured News
    .row
      .col-md-4
        .news-large
          .news-images
            .review
              span.score 70
              span.percent %
            .news-title
              .text-hover
                p.text-sumary
                  | To set numerous transitions at once, set each individual group of transition values, then use a comma to separate each additional group of transition values.
                .read-more-btn
                  a(href='#') Read more
              .title-hover
                .topic-btn
                  span.topic Studying
                h2.news-title-items
                  a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
            a(href='#')
              img(src='images/rp1.jpg', alt='')
      // Image 2
      .col-md-4
        .news-large
          .news-images
            .review
              span.score 70
              span.percent %
            .news-title
              .text-hover
                p.text-sumary
                  | To set numerous transitions at once, set each individual group of transition values, then use a comma to separate each additional group of transition values.
                .read-more-btn
                  a(href='#') Read more
              .title-hover
                .topic-btn
                  span.topic Studying
                h2.news-title-items
                  a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
            a(href='#')
              img(src='images/5.jpeg', alt='')
      // image 3
      .col-md-4
        .news-large
          .news-images
            .review
              span.score 70
              span.percent %
            .news-title
              .text-hover
                p.text-sumary
                  | To set numerous transitions at once, set each individual group of transition values, then use a comma to separate each additional group of transition values.
                .read-more-btn
                  a(href='#') Read more
              .title-hover
                .topic-btn
                  span.topic Studying
                h2.news-title-items
                  a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
            a(href='#')
              img(src='images/6.jpg', alt='')
      // The end image 3
// The end section 2
// section 3
section.section-news
  .container
    .row
      .col-md-8
        .left-sidebar
          .lasted-news
            h4.title-section
              | Lasted News
            .row.lasted-container
              //- .col-md-6
                //- .news-medium
                //-   .news-images
                //-     .news-title
                //-       .topic-btn
                //-         span.topic Fashion
                //-       h2.news-title-items
                //-         a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                //-       .social-info
                //-         span.info 1. September
                //-         span.info
                //-           i.fa.fa-comment-o(aria-hidden='true')  5
                //-         span.info
                //-           i.fa.fa-eye(aria-hidden='true')
                //-     a(href='#')
                //-       img(src='images/rp2.jpg', alt='')
                //-   .news-body
                //-     p
                //-       | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
              //-   article.small-news
              //-     .image-article
              //-       a(href='#')
              //-         img(src='images/rp5.jpg', alt='')
              //-     .article-body
              //-       .social-info
              //-         span.info 1. September
              //-       h2.news-title-items
              //-         a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
              //-   // small image 2 on the left
              //-   article.small-news
              //-     .image-article
              //-       a(href='#')
              //-         img(src='images/rp22.jpg', alt='')
              //-     .article-body
              //-       .social-info
              //-         span.info 1. September
              //-       h2.news-title-items
              //-         a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
              //-   // small image 3 on the left
              //-   article.small-news
              //-     .image-article
              //-       a(href='#')
              //-         img(src='images/rp3.jpg', alt='')
              //-     .article-body
              //-       .social-info
              //-         span.info 1. September
              //-       h2.news-title-items
              //-         a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
              //- // image 2
              //- .col-md-6
              //-   .news-medium
              //-     .news-images
              //-       .news-title
              //-         .topic-btn
              //-           span.topic Fashion
              //-         h2.news-title-items
              //-           a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
              //-         .social-info
              //-           span.info 1. September
              //-           span.info
              //-             i.fa.fa-comment-o(aria-hidden='true')  5
              //-           span.info
              //-             i.fa.fa-eye(aria-hidden='true')
              //-       a(href='#')
              //-         img(src='images/tree.jpg', alt='')
              //-     .news-body
              //-       p
              //-         | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
              //-   // small image
              //-   article.small-news
              //-     .image-article
              //-       a(href='#')
              //-         img(src='images/rp21.jpg', alt='')
              //-     .article-body
              //-       .social-info
              //-         span.info 1. September
              //-       h2.news-title-items
              //-         a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
              //-   // small image 2
              //-   article.small-news
              //-     .image-article
              //-       a(href='#')
              //-         img(src='images/rp9.jpg', alt='')
              //-     .article-body
              //-       .social-info
              //-         span.info 1. September
              //-       h2.news-title-items
              //-         a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
              //-   // small image 3
              //-   article.small-news
              //-     .image-article
              //-       a(href='#')
              //-         img(src='images/rp20.jpg', alt='')
              //-     .article-body
              //-       .social-info
              //-         span.info 1. September
              //-       h2.news-title-items
              //-         a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
          // topic
          .lasted-news
            h4.title-section
              | Topic
            .row
              // image 2
              .col-md-6
                .news-medium
                  .news-images
                    .news-title
                      .topic-btn
                        span.topic Fashion
                      h2.news-title-items
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comment-o(aria-hidden='true')  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                    a(href='#')
                      img(src='images/rp30.jpg', alt='')
                  .news-body
                    p
                      | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
              // image 2
              .col-md-6
                .news-medium
                  .news-images
                    .news-title
                      .topic-btn
                        span.topic Fashion
                      h2.news-title-items
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comment-o(aria-hidden='true')  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                    a(href='#')
                      img(src='images/rp30.jpg', alt='')
                  .news-body
                    p
                      | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
            // row 2
            .row
              .col-md-6
                .news-medium
                  .news-images
                    .news-title
                      .topic-btn
                        span.topic Fashion
                      h2.news-title-items
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comment-o(aria-hidden='true')  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                    // 
                    a(href='#')
                      img(src='images/rp41.jpg', alt='')
                  .news-body
                    p
                      | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
              // image 2
              .col-md-6
                .news-medium
                  .news-images
                    .news-title
                      .topic-btn
                        span.topic Fashion
                      h2.news-title-items
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comment-o(aria-hidden='true')  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                    a(href='#')
                      img(src='images/rp32.jpg', alt='')
                  .news-body
                    p
                      | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
            // row 3
            .row
              .col-md-6
                .news-medium
                  .news-images
                    .news-title
                      .topic-btn
                        span.topic Fashion
                      h2.news-title-items
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comment-o(aria-hidden='true')  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                    // 
                    a(href='#')
                      img(src='images/rp33.png', alt='')
                  .news-body
                    p
                      | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
              // image 2
              .col-md-6
                .news-medium
                  .news-images
                    .news-title
                      .topic-btn
                        span.topic Fashion
                      h2.news-title-items
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comment-o(aria-hidden='true')  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                    a(href='#')
                      img(src='images/rp40.jpg', alt='')
                  .news-body
                    p
                      | Aliquam venenatis aliquet tortor, non blandit sapien aliquam eget. Sed in nulla et arcu commodo vehicula vitae et ante. Suspendisse ut...
          // The end topic
        // The end left sidebar
      // sidebar right
      .col-md-4.right
        .row
          .right-sidebar
            aside.sidebar
              .widget-container
                h4.title-section
                  span Social
                .social-btn
                  // Facebook icon
                  a(href='#')
                    i.fa.fa-facebook-square(aria-hidden='true')
                  // Social detail
                  .social-detail
                    .count 10k
                    .type Likes
                .social-btn
                  // Twitter icon
                  a(href='#')
                    i.fa.fa-twitter-square(aria-hidden='true')
                  // Social detail
                  .social-detail
                    .count 10k
                    .type Follower
                // Youtube icon
                .social-btn
                  a(href='#')
                    i.fa.fa-youtube-square(aria-hidden='true')
                  // Social detail
                  .social-detail
                    .count 10k
                    .type Subscribers
                // Google plus icon
                .social-btn
                  a(href='#')
                    i.fa.fa-google-plus-square(aria-hidden='true')
                  // Social detail
                  .social-detail
                    .count 10k
                    .type People
                // Instagram icon
                .social-btn
                  a(href='#')
                    i.fa.fa-instagram(aria-hidden='true')
                  // Social detail
                  .social-detail
                    .count 10k
                    .type Follower
                // Linkin icon
                .social-btn
                  a(href='#')
                    i.fa.fa-linkedin-square(aria-hidden='true')
                  // Social detail
                  .social-detail
                    .count 10k
                    .type Likes
              // The end widget 1
              // Widget two
              .widget-container
                h4.title-section
                  span Advertisement
                .ads-img
                  a(href='#')
                    img(src='images/ad1.jpg', alt='')
              // widget 3
              .widget-container
                h4.title-section
                  span Lasted news
                // Image 1
                article.post-widget
                  .col-md-4
                    .news-images
                      a(href='#')
                        img(src='images/tree.jpg', alt='')
                  .col-md-8
                    .news-body
                      h2
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comments-o(aria-hidden='true')
                          |  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                          |  120
                // Image 2
                article.post-widget
                  .col-md-4
                    .news-images
                      a(href='#')
                        img(src='images/2.jpg', alt='')
                  .col-md-8
                    .news-body
                      h2
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comments-o(aria-hidden='true')
                          |  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                          |  120
                // Image 3
                article.post-widget
                  .col-md-4
                    .news-images
                      a(href='#')
                        img(src='images/fashion.jpg', alt='')
                  .col-md-8
                    .news-body
                      h2
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comments-o(aria-hidden='true')
                          |  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                          |  120
                // Image 4
                article.post-widget
                  .col-md-4
                    .news-images
                      a(href='#')
                        img(src='images/1.jpg', alt='')
                  .col-md-8
                    .news-body
                      h2
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comments-o(aria-hidden='true')
                          |  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                          |  120
                // Image 5
                article.post-widget
                  .col-md-4
                    .news-images
                      a(href='#')
                        img(src='images/Fashion.jpg', alt='')
                  .col-md-8
                    .news-body
                      h2
                        a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      .social-info
                        span.info 1. September
                        span.info
                          i.fa.fa-comments-o(aria-hidden='true')
                          |  5
                        span.info
                          i.fa.fa-eye(aria-hidden='true')
                          |  120
              // Widget 4
              .widget-container
                h4.title-section
                  span Advertisement
                .ads-img
                  a(href='#')
                    img(src='images/ad2.jpg', alt='')
        // row 2
        .row
          // Calendar
          .calendar
            ul
              li#calendar.calendar-li
                #c-day.day
                #c-date.date
                #c-month-year.mont-date
      // The end section 3
// section 3
section.section-news
  .container
    // title
    h4.title-section
      span Typical faces
    .typical-face
      .row.row-first
        .col-md-4.img-items
          figure.small-img
            a(href='#')
              img(src='images/tp.jpg', alt='')
            figcaption.img-info
              .topic-btn
                span.topic Typical Face
              h2 Make Stories Come Alive with Jodi Harvey-Brown Book
        // Image 2
        .col-md-4.img-items
          figure.small-img
            a(href='#')
              img(src='images/tp1.jpg', alt='')
            figcaption.img-info
              .topic-btn
                span.topic Typical Face
              h2 Make Stories Come Alive with Jodi Harvey-Brown Book
        // Image 3
        .col-md-4.img-items
          figure.small-img
            a(href='#')
              img(src='images/tp2.jpg', alt='')
            figcaption.img-info
              .topic-btn
                span.topic Typical Face
              h2 Make Stories Come Alive with Jodi Harvey-Brown Book
      // row 2
      .row.row-first
        .col-md-6.md-img-items
          figure.small-img
            a(href='#')
              img(src='images/tp5.jpeg', alt='')
            figcaption.img-info
              .topic-btn
                span.topic Typical Face
              h2
                span Make Stories Come Alive with Jodi Harvey-Brown Book
        // Image 2
        .col-md-6.md-img-items
          figure.small-img
            a(href='#')
              img(src='images/tp4.jpeg', alt='')
            figcaption.img-info
              .topic-btn
                span.topic Typical Face
              h2 Make Stories Come Alive with Jodi Harvey-Brown Book
        // The end image 2
// section 4
section.section-news
  .container
    .relax-news
      .row
        .col-md-8
          .left-sidebar
            .relax-news
              // Start Entertainment
              .lasted-news
                h4.title-section
                  | Entertainment
                .row
                  .col-sm-6
                    .news-images
                      .news-title
                        .topic-btn
                          span.topic Fashion
                        h2.news-title-items
                          a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                      // 
                      a(href='#')
                        img(src='images/mhat.jpg', alt='')
                  // small items
                  .col-sm-6
                    article.small-news
                      .image-article
                        a(href='#')
                          img(src='images/rp12.jpg', alt='')
                      .article-body
                        .social-info
                          span.info 1. September
                        h2.news-title-items
                          a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                    // Image 2
                    article.small-news
                      .image-article
                        a(href='#')
                          img(src='images/fashion.jpg', alt='')
                      .article-body
                        .social-info
                          span.info 1. September
                        h2.news-title-items
                          a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                    // Image 3
                    article.small-news
                      .image-article
                        a(href='#')
                          img(src='images/rp8.jpg', alt='')
                      .article-body
                        .social-info
                          span.info 1. September
                        h2.news-title-items
                          a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
                    // Image 4
                    article.small-news
                      .image-article
                        a(href='#')
                          img(src='images/rp15.jpg', alt='')
                      .article-body
                        .social-info
                          span.info 1. September
                        h2.news-title-items
                          a(href='#') Make Stories Come Alive with Jodi Harvey-Brown Book
              // The End Entertainment
        // right sidebar
        // sidebar right
        .col-md-4.right
          .right-sidebar
            aside.sidebar
              .widget-container
                h4.title-section
                  span Tags
                .tag-items
                  a(href='#') Fashion
                  span 35
                // Entertainment
                .tag-items
                  a(href='#') Entertainment
                  span 35
                // Topic
                .tag-items
                  a(href='#') Topic
                  span 35
                // Studying
                .tag-items
                  a(href='#') Studying
                  span 35
                // Blog
                .tag-items
                  a(href='#') Blog
                  span 35
                // Tips
                .tag-items
                  a(href='#') Tips
                  span 35
                // Love
                .tag-items
                  a(href='#') Love
                  span 35
                // Eduction
                .tag-items
                  a(href='#') Eduction
                  span 35
                // Friendship
                .tag-items
                  a(href='#') Friendship
                  span 35
                // Health
                .tag-items
                  a(href='#') Health
                  span 35
                // Traveling
                .tag-items
                  a(href='#') Traveling
                  span 35
                // Make up
                .tag-items
                  a(href='#') Make Up
                  span 35
              // The end widget 1
              // Widget two
              .widget-container
                h4.title-section
                  span Calendar
                .calendar
                  .month
                    h3 July
                  .weekdays
                    li Mo
                    li Tu
                    li We
                    li Th
                    li Fr
                    li Sa
                    li Su
                  ul.days
                    li 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li 6
                    li 7
                    li 8
                    li 9
                    li 10
                    li 11
                    li 12
                    li 13
                    li 14
                    li 15
                    li 16
                    li 17
                    li 18
                    li 19
                    li 20
                    li 21
                    li 22
                    li 23
                    li 24
                    li
                      span.active 25
                    li 26
                    li 27
                    li 28
                    li 29
// section 5
section.section-news
  .container
    .row
      .blog
        h4.title-section
          | Blog
        .col-sm-3(ng-repeat='x in recipes | filter: search')
          .thumbnail
            img(src='images/img.jpg', alt='')
            .caption
              h4 True Life Path
              p
                | Maecenas euismod magna augue, et imperdiet nisl efficitur nec. Nunc non risus a diam tempor ornare. Suspendisse molestie nisi a euismod egestas. Integer tristique mauris in laoreet iaculis.
        .col-sm-3(ng-repeat='x in recipes | filter: search')
          .thumbnail
            img(src='images/cf1.jpg', alt='')
            .caption
              h4 True Life Path
              p
                | Maecenas euismod magna augue, et imperdiet nisl efficitur nec. Nunc non risus a diam tempor ornare. Suspendisse molestie nisi a euismod egestas. Integer tristique mauris in laoreet iaculis.
        .col-sm-3(ng-repeat='x in recipes | filter: search')
          .thumbnail
            img(src='images/img.jpg', alt='')
            .caption
              h4 True Life Path
              p
                | Maecenas euismod magna augue, et imperdiet nisl efficitur nec. Nunc non risus a diam tempor ornare. Suspendisse molestie nisi a euismod egestas. Integer tristique mauris in laoreet iaculis.
        .col-sm-3(ng-repeat='x in recipes | filter: search')
          .thumbnail
            img(src='images/cf1.jpg', alt='')
            .caption
              h4 True Life Path
              p
                | Maecenas euismod magna augue, et imperdiet nisl efficitur nec. Nunc non risus a diam tempor ornare. Suspendisse molestie nisi a euismod egestas. Integer tristique mauris in laoreet iaculis.
