// Footer
footer.footer
  .container
    .row
      // Left footer
      .col-sm-4
        .footer-widget
          h4.footer-title
            span.title-span About School News
          p
            | Maecenas euismod magna augue, et imperdiet nisl efficitur nec. Nunc non risus a diam tempor ornare. Suspendisse molestie nisi a euismod egestas. Integer tristique mauris in laoreet iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          p 02 Thanh Son street, Hai Chau district, Da Nang city
      // center footer
      .col-sm-4
        .footer-widget
          h4.footer-title
            span.title-span Categories
          .row
            .col-xs-4
              ol.footer-categories
                li
                  a(href='#') Home page
                li
                  a(href='#') Education
                li
                  a(href='#') Life
                li
                  a(href='#') Soft skill
                li
                  a(href='#') Life skill
            .col-xs-4
              ol.footer-categories
                li
                  a(href='#') Health
                li
                  a(href='#') Entertainment
                li
                  a(href='#') Typical faces
                li
                  a(href='#') Blog
                li
                  a(href='#') Traveling
            .col-xs-4
              ol.footer-categories
                li
                  a(href='#') Tip
                li
                  a(href='#') Friendship
                li
                  a(href='#') Love
                li
                  a(href='#') School
                li
                  a(href='#') Family
          // Below footer
          .footer-widget.footer-below
            h4.footer-title
              span.title-span Content Collaboration
            span.phone-span
              a(href='')
                i.fa.fa-phone(aria-hidden='true')
              | 04.730.7797 (Ms. Nhi)
            br
            span.phone-span
              a(href='')
                i.fa.fa-envelope(aria-hidden='true')
              | news@gmail.com
      // Right footer
      .col-sm-4
        .footer-widget
          h4.footer-title
            span.title-span Lastest post
          article.widget-post
            .post-image
              a(href='#')
                img(src='', alt='')
          article.widget-post
            .post-image
              a(href='#')
                img(src='', alt='')
          article.widget-post
            .post-image
              a(href='#')
                img(src='', alt='')
          article.widget-post
            .post-image
              a(href='#')
                img(src='', alt='')
