// social icons
.top-bar
  .container
    span.navbar-text.navbar-right
      a(href='#')
        i.fa.fa-facebook(aria-hi='', dden='true')
      a(href='#')
        i.fa.fa-twitter(aria-hidden='true')
      a(href='#')
        i.fa.fa-instagram(aria-hidden='true')
      a(href='#')
        i.fa.fa-google-plus(aria-hidden='true')
      a(href='#')
        i.fa.fa-linkedin(aria-hidden='true')
// Logo
header.header
  h1.school-logo
    span.school-logo School
    |  News
// Menu
nav.navbar.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        i.fa.fa-home(aria-hidden='true')
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        // News item
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | News
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Studying
            li
              a(href='#') Life
            li
              a(href='#') Education
            li.divider(role='separator')
            li
              a(href='#') Creation
            li.divider(role='separator')
        // Topic item
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Topic
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Soft skill
            li
              a(href='#') Life skill
            li
              a(href='#') Health
            li
              a(href='#') Tips
        // Entertainment item
        li
          a(href='#about') Typical faces
        // Traveling item
        li
          a(href='#contact') Traveling
        // Blog item
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Blog
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Family
            li
              a(href='#') School
            li
              a(href='#') Friendship
            li
              a(href='#') Love
            li
              a(href='#') Life
        // Contact item
        li
          a(href='#contact') contact
      // /.nav-collapse
      aside.menu-right
        .menu-content
          a#logout(href='#') Sign In
          a#sign(href='#') Sign Up
