.container
  .row
    .col-md-4
    .col-md-4
      h2.name-page Sign In
      form.form(name='myForm')
        // Username
        .form-group
          label.form-label(for='name') Email
          input#txtEmail.form-control(type='text', name='email', placeholder='Email')
        // Sumary
        .form-group
          label.form-label(for='message') Password
          input#txtPassword.form-control(type='password', name='password', placeholder='Password')
        a#login.button.buttonBlue(disabled='', style='width: 100%,height: 100%; text-align: center;')
          | Sign In
          .ripples.buttonRipples
            span.ripplesCircle
        .btn-disable
          // disable input
          button#signIn(disabled='', name='signin') Sign In
          button#confirmEmail(disabled='', name='verify-email') Send Email Verification
          button#resetPass(name='verify-email') Send Password Reset Email
          div
            | Firebase sign-in status: 
            span#status Unknown
            div
              | Firebase auth 
              code currentUser
              |  object value:
            pre.
