.post-content
  .container
    h2.name-page Post
    .row
      .col-md-3
        .left-nav
          .logo
          ul.menu
            li.item
              a.btn.full-width(href='post-list.html') Posts
            li.item
              a.btn.full-width(href='') Media
            li.item
              a.btn.full-width(href='') Users
            li.item
              a.btn.full-width(href='') Settings
      .col-md-9
        // Post form
        .post-form
          .container
            form.form(name='myForm')
              // title
              .form-group
                label#title.form-label(for='sublect') Title
                input#subject.form-control(type='text', name='subject', placeholder='Title', tabindex='3')
              // Sumary
              .form-group
                label.form-label(for='message') Sumary
                textarea#sumary.form-control(rows='6', cols='60', name='message', placeholder='Sumary', tabindex='4')
              // date
              .form-group
                .row
                  // start date
                  .col-sm-6
                    label#title.form-label(for='sublect') Start Date
                    input#startdate.form-control(type='date', placeholder='Title', tabindex='3', value='21/07/2017')
                  // Editorial Office
                  .col-sm-6
                    label#title.form-label(for='sublect') Editorial Office
                    input#office.form-control(type='text', name='subject', placeholder='Editorial Office', tabindex='3')
              // Content
              .form-group
                label.form-label(for='message') Content
                textarea#main-content.form-control(rows='6', cols='60', name='message', placeholder='Content', tabindex='4')
              .text-center.margin-top-25
                // <input id="saveData" type="submit" name="save" class="button">
                button#saveData.button.buttonBlue(type='button', name='save')
                  | Submit
            // End form
            // Upload avt of news
            .form-group
              label.form-label Avatar Of News
              .row
                .col-sm-3
                  input#fileButton.form-control(type='file', value='upload')
                .col-sm-9
                  progress#uploader(value='0', max='100') 0%
