.container
  .row
    .col-md-4
    .col-md-4
      h2.name-page Sign Up
      form.form(name='myForm')
        // Username
        .form-group
          label.form-label(for='name') Email
          input#txtEmail.form-control(type='text', name='email', placeholder='Email')
        // title
        .form-group
          label#title.form-label(for='sublect') Username
          input#name.form-control(type='text', name='email', placeholder='username')
        // Sumary
        .form-group
          label.form-label(for='message') Password
          input#txtPassword.form-control(type='password', name='password', placeholder='Password')
        // Content
        .form-group
          label.form-label(for='message') Confirm Password
          input#confirmPass.form-control(type='password', name='password', placeholder='confirmPass')
        button#signUp.button.buttonBlue(type='button', name='signup')
          | Sign Up
          .ripples.buttonRipples
            span.ripplesCircle
        .btn-disable
          button#signIn(disabled='', name='signin') Sign In
          button#confirmEmail(disabled='', name='verify-email') Send Email Verification
          button#resetPass(name='verify-email') Send Password Reset Email
 
