@mixin position($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// mixin for post list
@media only screen and (max-width: 500px) {
  .btn-mod.btn-large {
    padding: 6px 16px;
    font-size: 11px;
  }
  .form-title {
    font-size: 20px;
  }
}

@mixin colorSet($cl_black, $front_color:$cl_white) {
  background-color: $cl_black;
  color: $front_color;
}
  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}
  
@mixin fontSet($font_size:auto, $font_weight:auto) {
  font-size: $font_size;
  font-weight: $font_weight;
}
  
 
@mixin button() {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  margin: 15px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.3s;
  &:hover {
    background-color: #666;
    color: #f3f7f7;
  }
}
  
@mixin tag() {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

@mixin padding($padding-top: auto, $padding-right: auto, $padding-bottom: auto, $padding-left: auto) {
  $padding-top: padding-top;
  $padding-right: padding-right;
  $padding-bottom: padding-bottom;
  $padding-left: padding-left;
}

@mixin margin($margin-top: auto, $margin-right: auto, $margin-bottom: auto, $margin-left: auto) {
  $margin-top: margin-top;
  $margin-right: margin-right;
  $margin-bottom: margin-bottom;
  $margin-left: margin-left;
}

