doctype html
html
  head
    title School News
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700|Oswald:400,700', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/custom-bootstrap.css')
    link(href='css/main.css', type='text/css', rel='stylesheet')
  body
   .box
      block header
        include ../partials/header.jade

      block content

      block footer
        include ../partials/footer.jade

    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='https://cloud.tinymce.com/stable/tinymce.min.js')
    script(src='https://www.gstatic.com/firebasejs/4.1.3/firebase.js')
    script(type='text/javascript', src='js/firebase.js')
    script(type='text/javascript', src='js/init-tinymce.js')
    script(type='text/javascript', src='js/login.js')
    script(type='text/javascript', src='js/register.js')
    script(type='text/javascript', src='js/add-news.js')
    script(type='text/javascript', src='js/upload-image.js')
    script(type='text/javascript', src='js/show-data.js')
    script(type='text/javascript', src='js/calendar.js')
